@import '@/assets/scss/_main';

#main {
    text-align: center;

    #login-view {
        
        h1{
            color: blue;
        }
    }

    #login-form {
        width: 750px;
        height: 500px;
        font-weight: bold;
        
        #login-check-btn {
            text-align: left;

            label {
                margin-left: 7px;
            }
        }

        #login-btn-submit {
            width: 200px;
            border-radius: 25px;
        }
    }
}